<div class="toolbar">

   <mat-form-field appearance="outline" class="search-bar">
      <mat-label>Search Hero</mat-label>
      <mat-icon matPrefix class="disabled-icon ml-2">search</mat-icon>
      <input matInput [(ngModel)]="filterValue" (ngModelChange)="filterHeroes()" type="text" id="search-superhero-input"
         placeholder="Type the name of the hero">
      @if (filterValue) {
      <button mat-icon-button matSuffix (click)="clearFilter()" class="mr-4" id="clear-search-button">
         <mat-icon>close</mat-icon>
      </button>
      }
   </mat-form-field>

   <button mat-fab aria-label="Adds a superhero" color="primary" class="add-button" routerLink="/superheroes/add"
      id="add-superhero-button">
      <mat-icon>add</mat-icon>
   </button>
</div>

<div class="table-container">
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 responsive-table" id="superheroes-table">

      <ng-container matColumnDef="picture">
         <th mat-header-cell *matHeaderCellDef> Picture </th>
         <td mat-cell *matCellDef="let hero">
            <img [src]="hero.images?.xs ? hero.images.xs : 'https://placehold.co/40x48?text=No+image'" alt="Hero Image"
               width="40" height="48" />
         </td>
      </ng-container>

      <ng-container matColumnDef="name">
         <th mat-header-cell *matHeaderCellDef> Name </th>
         <td mat-cell *matCellDef="let hero">
            <a mat-button [routerLink]="['/superheroes', hero.id]"> {{ hero.name }} </a>
         </td>

      </ng-container>

      <ng-container matColumnDef="realName">
         <th mat-header-cell *matHeaderCellDef> Real Name </th>
         <td mat-cell *matCellDef="let hero"> {{ hero.realName }} </td>
      </ng-container>

      <ng-container matColumnDef="powers">
         <th mat-header-cell *matHeaderCellDef> Powers </th>
         <td mat-cell *matCellDef="let hero">
            <mat-chip-set aria-label="Powers List">
               @for (power of hero.powers; track $index ) {
               <mat-chip class="custom-chip"> {{ power }} </mat-chip>
               } @empty {
               -
               }
            </mat-chip-set>
         </td>
      </ng-container>

      <ng-container matColumnDef="universe">
         <th mat-header-cell *matHeaderCellDef> Universe </th>
         <td mat-cell *matCellDef="let hero"> {{ hero.universe }} </td>
      </ng-container>

      <ng-container matColumnDef="firstAppearance">
         <th mat-header-cell *matHeaderCellDef> First Appearance </th>
         <td mat-cell *matCellDef="let hero"> {{ hero.firstAppearance || '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="team">
         <th mat-header-cell *matHeaderCellDef> Team </th>
         <td mat-cell *matCellDef="let hero"> {{ hero.team || '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
         <th mat-header-cell *matHeaderCellDef> Actions </th>
         <td mat-cell *matCellDef="let hero">
            <button mat-mini-fab aria-label="Edits a superhero" color="primary" class="mr-4"
               [routerLink]="['/superheroes/edit', hero.id]">
               <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab aria-label="Deletes a superhero" color="primary" (click)="deleteHero(hero)">
               <mat-icon class="red-icon">delete</mat-icon>
            </button>
         </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>

   <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
