@if (hero) {
<div class="hero-card-container">
   <mat-card class="hero-card">
      <div class="hero-image-container">
         <img class="hero-image" [src]="hero.images?.md ?? 'https://placehold.co/450x250?text=No+image'"
            [alt]="hero.name" />
      </div>

      <mat-card-header>
         <mat-card-title>{{ hero.name }}</mat-card-title>
         <mat-card-subtitle>{{ hero.universe }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
         <p><strong>Real Name:</strong> {{ hero.realName }}</p>
         <p><strong>First Appearance:</strong> {{ hero.firstAppearance }}</p>
         <p><strong>Team:</strong> {{ hero.team }}</p>
         <p><strong>Aliases:</strong> {{ hero.aliases?.join(', ') }}</p>
         <p><strong>Powers:</strong> {{ hero.powers.join(', ') }}</p>
      </mat-card-content>

      <mat-card-actions>
         <button mat-button (click)="navigateToHeroesList()">Close</button>
      </mat-card-actions>
   </mat-card>
</div>
}
