<div class="about-container">
   <mat-card class="about-card">
      <mat-card-header>
         <mat-card-title>About Us</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <p>
            Welcome to the Superhero App! This is a platform where you can manage superheroes,
            including adding, editing, and viewing details about various superheroes.
         </p>
         <p>
            Our mission is to provide detailed information on superheroes from various universes,
            such as Marvel, DC, and others. Stay tuned for more updates!
         </p>
      </mat-card-content>
   </mat-card>
</div>
